{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with a Design System for Bootstrap 4.">
    <meta name="author" content="Creative Tim">
    <title>IKMA| News</title>
    <!-- Favicon -->
    <link href="{% static 'img/brand/logo_favi.jpg' %}" rel="icon" type="image/png">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!-- Icons -->
    <link href="{% static 'vendor/nucleo/css/nucleo.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <!-- Argon CSS -->
    <link type="text/css" href="{% static 'css/argon.css' %}" rel="stylesheet">
    <!-- Docs CSS -->
    <link type="text/css" href="{% static 'css/docs.min.css' %}" rel="stylesheet">
</head>

<body>
<header class="header-global">
    <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom">
        <div class="container">
            <a class="navbar-brand mr-lg-5" href="#">
                <img src="{% static 'img/brand/logo-e.png' %}" style="height: auto;">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global"
                    aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbar_global">
                <div class="navbar-collapse-header">
                    <div class="row">
                        <div class="col-6 collapse-brand">
                            <a href="#">
                                <img src="{% static 'img/brand/logo-e.png' %}" style="height: auto;">
                            </a>
                        </div>
                        <div class="col-6 collapse-close">
                            <button type="button" class="navbar-toggler" data-toggle="collapse"
                                    data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false"
                                    aria-label="Toggle navigation">
                                <span></span>
                                <span></span>
                            </button>
                        </div>
                    </div>
                </div>
                <ul class="navbar-nav align-items-lg-center ml-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link nav-link-icon" href="https://www.facebook.com/ikmaceylons/" target="_blank"
                           data-toggle="tooltip" title="Like us on Facebook">
                            <i class="fa fa-facebook-square"></i>
                            <span class="nav-link-inner--text d-lg-none">Facebook</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-icon"
                           href="https://www.youtube.com/channel/UCYLIUSi7trq868mup9SPjGg" target="_blank"
                           data-toggle="tooltip" title="Subscribe us on Youtube">
                            <i class="fa fa-youtube"></i>
                            <span class="nav-link-inner--text d-lg-none">Youtube</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main>
    <div class="position-relative">
        <!-- shape Hero -->
        <section class="section section-lg section-shaped pb-250">
            <div class="shape bg-gradient-dark-logo">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="container py-lg-md d-flex">
                <div class="col px-0">
                    <div class="row">
                        <div class="col-lg-6">
                            <h1 class="display-3  text-white">IKMA News</h1>
                        </div>
                    </div>
                </div>
            </div>
            <!-- SVG separator -->
            <div class="separator separator-bottom separator-skew">
                <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                     xmlns="http://www.w3.org/2000/svg">
                    <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
                </svg>
            </div>
        </section>
        <!-- 1st Hero Variation -->
    </div>
    <section class="section section-lg pt-lg-0 mt--100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="row row-grid">
                        <div class="col-lg-4">
                            <div class="card card-lift--hover shadow border-0">
                                <div class="card-body py-5">
                                    <h6 class="text-primary text-uppercase">Florence Expected</h6>
                                    <iframe width="250" height="200" src="https://www.youtube.com/embed/Ayet_VvUnhY"
                                            frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                    <p class="description mt-3" style="font-size: 12px;"><strong>Florence Now a Major
                                        Threat to East Coast</strong>
                                        Tropical Storm Florence is expected to again be a hurricane very soon, and it is
                                        more and more likely that it will hit somewhere on the East Coast as a strong
                                        hurricane.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card card-lift--hover shadow border-0">
                                <div class="card-body py-5">
                                    <h6 class="text-primary text-uppercase">Florence Expected</h6>
                                    <iframe width="250" height="200" src="https://www.youtube.com/embed/Ayet_VvUnhY"
                                            frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                    <p class="description mt-3" style="font-size: 12px;"><strong>Florence Now a Major
                                        Threat to East Coast</strong>
                                        Tropical Storm Florence is expected to again be a hurricane very soon, and it is
                                        more and more likely that it will hit somewhere on the East Coast as a strong
                                        hurricane.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card card-lift--hover shadow border-0">
                                <div class="card-body py-5">
                                    <h6 class="text-primary text-uppercase">Florence Expected</h6>
                                    <iframe width="250" height="200" src="https://www.youtube.com/embed/Ayet_VvUnhY"
                                            frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                    <p class="description mt-3" style="font-size: 12px;"><strong>Florence Now a Major
                                        Threat to East Coast</strong>
                                        Tropical Storm Florence is expected to again be a hurricane very soon, and it is
                                        more and more likely that it will hit somewhere on the East Coast as a strong
                                        hurricane.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section-lg mt--100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="row row-grid">
                        <div class="col-lg-4">
                            <div class="card card-lift--hover shadow border-0">
                                <div class="card-body py-5">
                                    <h6 class="text-primary text-uppercase">Florence Expected</h6>
                                    <iframe width="250" height="200" src="https://www.youtube.com/embed/Ayet_VvUnhY"
                                            frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                    <p class="description mt-3" style="font-size: 12px;"><strong>Florence Now a Major
                                        Threat to East Coast</strong>
                                        Tropical Storm Florence is expected to again be a hurricane very soon, and it is
                                        more and more likely that it will hit somewhere on the East Coast as a strong
                                        hurricane.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card card-lift--hover shadow border-0">
                                <div class="card-body py-5">
                                    <h6 class="text-primary text-uppercase">Florence Expected</h6>
                                    <img width="250" height="200" src="{% static 'img/theme/team-1-800x800.jpg' %}">
                                    <p class="description mt-3" style="font-size: 12px;"><strong>Florence Now a Major
                                        Threat to East Coast</strong>
                                        Tropical Storm Florence is expected to again be a hurricane very soon, and it is
                                        more and more likely that it will hit somewhere on the East Coast as a strong
                                        hurricane.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card card-lift--hover shadow border-0">
                                <div class="card-body py-5">
                                    <h6 class="text-primary text-uppercase">Florence Expected</h6>
                                    <img width="250" height="200" src="{% static 'img/theme/team-1-800x800.jpg' %}">
                                    <p class="description mt-3" style="font-size: 12px;"><strong>Florence Now a Major
                                        Threat to East Coast</strong>
                                        Tropical Storm Florence is expected to again be a hurricane very soon, and it is
                                        more and more likely that it will hit somewhere on the East Coast as a strong
                                        hurricane.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<footer class="footer">
    <div class="container">
        <div class="row row-grid align-items-center mb-5">
            <div class="col-lg-6">
                <h3 class="text-primary font-weight-light mb-2">Thank you for supporting us!</h3>
                <h4 class="mb-0 font-weight-light">Let's get in touch on any of these platforms.</h4>
            </div>
            <div class="col-lg-6 text-lg-center btn-wrapper">
                <a target="_blank" href="#" class="btn btn-neutral btn-icon-only btn-twitter btn-round btn-lg"
                   data-toggle="tooltip" data-original-title="Follow us">
                    <i class="fa fa-twitter"></i>
                </a>
                <a target="_blank" href="https://www.facebook.com/ikmaceylons/"
                   class="btn btn-neutral btn-icon-only btn-facebook btn-round btn-lg" data-toggle="tooltip"
                   data-original-title="Like us">
                    <i class="fa fa-facebook-square"></i>
                </a>
                <a target="_blank" href="https://www.youtube.com/channel/UCYLIUSi7trq868mup9SPjGg"
                   class="btn btn-neutral btn-icon-only btn-github btn-round btn-lg" data-toggle="tooltip"
                   data-original-title="Star on Github">
                    <i class="fa fa-youtube"></i>
                </a>
            </div>
        </div>
        <hr>
        <div class="row align-items-center justify-content-md-between">
            <div class="col-md-6">
                <div class="copyright">
                    &copy; 2018
                    <a href="http://egreen.io/" target="_blank">EGreen</a>.
                </div>
            </div>
            <div class="col-md-6">
                <ul class="nav nav-footer justify-content-end">
                    <li class="nav-item">
                        <a href="login.html" class="nav-link" target="_blank">Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" target="_blank">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a href="news.html" class="nav-link" target="_blank">News</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- Core -->
<script src="./assets/vendor/jquery/jquery.min.js"></script>
<script src="./assets/vendor/popper/popper.min.js"></script>
<script src="./assets/vendor/bootstrap/bootstrap.min.js"></script>
<script src="./assets/vendor/headroom/headroom.min.js"></script>
<!-- Argon JS -->
<script src="./assets/js/argon.js?v=1.0.1"></script>
</body>

</html>